<!DOCTYPE html>
<head>
    <title>SudoRadio</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h3>SudoRadio Nao Playin</h3>
	<p>
	    <h2>{{ now_playing }}</h2>
        <img src="static/{{ now_playing }}.jpg" alt="album_art">
	<br></br>
	<audio controls autoplay>
	  <source src="static/{{ now_playing }}.mp3" type="audio/mpeg">forcetitle
	</audio>
	<br></br>
	<form method="POST">
            <input type="text" name="song">
            <input type="submit" value="Request">
        </form> 
	</p>
</body>
</html>
